body {
    background: rgb(115,0,255);
    background: linear-gradient(315deg, rgba(115,0,255,1) 0%, rgba(28,34,81,1) 50%, rgba(0,113,249,1) 100%);
    color: white;
    margin: 1rem;
    font-family: sans-serif;
}

.pagenav{
    justify-content: center;
}

.prevlogo{
    height: 3rem;
    margin: 1rem;
    margin-right: 2rem;
}

.nextlogo{
    height: 3rem;
    rotate: 180deg;
    margin: 1rem;
    margin-left: 2rem;
}
